<main>
    <!-- New Ticket -->
    <div class="container col-12">
        <h4 class="ml-3">New Ticket</h4>
        <div class="container col-12">
            <div class="row">
                <div class="col-12">Type:</div>
                <div class="col-sm-8 col-12">
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-12">Description:</div>
                <textarea class="col-sm-10 col-12 ml-3" rows="5"></textarea>
            </div>
            <div class="row">
                <div class="col-sm-2 col-12">Anonymous:</div>
                <div class="col-sm-8 col-12">
                    <input type="checkbox">
                </div>
            </div>
        </div>
        <input type="button" class="btn btn-info ml-3" value="Create">
        <input type="button" class="btn btn-danger ml-3" value="Cancel">
    </div>
</main>
