<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #32CD32;">
    <a class="navbar-brand" href="#">Login as Rákosbeteg</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Szerepkör</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Mezei senior</a>
            <a class="dropdown-item" href="#">Ügyinzétő</a>
            <a class="dropdown-item" href="#">Admin</a>
            </div>
        </li>
        <li class="nav-item active ">
            <a class="nav-link" href="#" >Kilépés</a>
            </li>
        </ul>
        
    </div>
</nav>
<main>
    <div class="card col-12 bg-secondary text-white">
        <div class="card-body">
            <h5 class="card-subtitle mb-2">Details</h5>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-sm-3 col-12">Created at:</div>
                    <div class="col-sm-9 col-12">{{getCreatedAt()}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-12">Created by:</div>
                    <div class="col-sm-9 col-12">{{getCreatedBy()}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-12">Assigned to:</div>
                    <div class="col-sm-9 col-12">{{getAssignee()}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-12">ID:</div>
                    <div class="col-sm-9 col-12">{{ticket?.ticketId || "not found"}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-12">Type:</div>
                    <div class="col-sm-9 col-12">{{getType()}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-12">Description:</div>
                    <div class="col-sm-9 col-12">{{ticket?.description || ""}}</div>
                </div>
            </div>
            <div class="container col-12 ml-3 mt-3">
                <button type="button" class="btn btn-primary" (click)="refilterMessages(messagesfilter.Shown)">Shown</button>
                <button type="button" class="btn btn-dark ml-3" (click)="refilterMessages(messagesfilter.Unreviewed)">Unreviewed</button>
                <button type="button" class="btn btn-danger ml-3" (click)="refilterMessages(messagesfilter.Discarded)">Discarded</button>
            </div>
        </div>
    </div>
    <div>
        <div class="row col-12"></div>
    </div>
    <div class="card col-12 bg-primary text-white" *ngIf="filter == messagesfilter.Shown">
        <div class="card-body">
            <h5 class="card-title">Shown Messages</h5>
            <div *ngFor="let message of shownmessages">
                <div class="card col-10 text-dark">
                    <div class="card-body">
                        <h6 class="card-title">{{message.messageId}}</h6>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">{{message.text}}</div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-secondary text-right">{{getMessageCreatedAt(message)}}, {{getMessageCreatedBy(message)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row col-12"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-12 bg-dark text-white" *ngIf="filter == messagesfilter.Unreviewed">
        <div class="card-body">
            <h5 class="card-title">Unreviewed Messages</h5>
            <div *ngFor="let message of unreviewedmessages">
                <div class="card col-10 text-dark">
                    <div class="card-body">
                        <div class="row col-12">
                            <h6 class="card-title col-sm-4 col-12">{{message.messageId}}</h6>
                            <div class="col-sm-4 col-12">
                            </div>
                            <div class="col-sm-4 col-12">
                                <button type="button" class="btn btn-success">Approve</button>
                                <button type="button" class="btn btn-danger">Discard</button>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">{{message.text}}</div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-secondary text-right">{{getMessageCreatedAt(message)}}, {{getMessageCreatedBy(message)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row col-12"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-12 bg-danger text-white" *ngIf="filter == messagesfilter.Discarded">
        <div class="card-body">
            <h5 class="card-title">Discarded Messages</h5>
            <div *ngFor="let message of discardedmessages">
                <div class="card col-10 bg-warning">
                    <div class="card-body">
                        <h6 class="card-title col-sm-4 col-12">{{message.messageId}}</h6>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">{{message.text}}</div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-secondary text-right">{{getMessageCreatedAt(message)}}, {{getMessageCreatedBy(message)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row col-12"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row col-12"></div>
        <button type="button" class="btn btn-info ml-4" (click)="beginMessage()">New Message</button>
        <button type="button" class="btn btn-danger ml-4" *ngIf="isOpen()">Close Ticket</button>
    </div>
    <div>
        <div class="row col-12"></div>
        <button type="button" class="btn btn-secondary ml-4" *ngIf="!isOpen()">Reopen Ticket</button>
    </div>
    <!-- New Message -->
    <div class="container col-12 ml-3" *ngIf="newmessageimpending">
        <h6>New Message</h6>
        <textarea class="col-12 form-control" rows="5" ng-model="newdescription"></textarea>
        <button type="button" class="btn btn-info" (click)="createMessage()">Create</button>
        <button type="button" class="btn btn-danger ml-1" (click)="abortMessage()">Cancel</button>
    </div>
</main>
